<div id="<%= dom_id type_user %>">
  <p>
    <strong>Person:</strong>
    <%= type_user.person_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= type_user.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= type_user.description %>
  </p>

</div>
