<div id="<%= dom_id type_inventory %>">
  <p>
    <strong>Gym:</strong>
    <%= type_inventory.gym_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= type_inventory.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= type_inventory.description %>
  </p>

</div>
