<div id="<%= dom_id employee %>">
  <p>
    <strong>Type user:</strong>
    <%= employee.type_user_id %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= employee.position %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= employee.description %>
  </p>

</div>
