<div id="<%= dom_id client %>">
  <p>
    <strong>Client:</strong>
    <%= client.client_id_id %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= client.weight %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= client.height %>
  </p>

</div>
